body {
  width: 500px;
  height: 300px;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  position: relative;
}

.imageContainer {
  position: absolute;
  left: 0px;
  width: 200px;
  background-image:
}

.imageContainer img {
  display: inline-block;
  margin-left : 12px;
  max-height: 100%;
  max-width: 100%;
}

.heading {
  position: relative;
  top: 72px;
  margin-left: 180px;
  left: 45px;
}

.heading h2 {
  font-size: 25px;
}

.searchContainer {
  position: relative;
  top : 80px;
  margin-left: 180px;
}

.searchContainer input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  padding: 1px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.searchContainer input:focus {
    outline-color: transparent;
    outline-style: none;
}

.searchContainer .within {
  font-size : 12px;
}
.searchContainer select {
  font-family: 'Fira Sans', sans-serif;
  background: transparent;
  font-size : 12px;
}

.submitButton {
  margin-left: 196px;
  margin-top: 5px;
}

.searchContainer .btn-style{
  border : solid 0px #ffffff;
  border-radius : 3px;
  moz-border-radius : 3px;
  font-size : 15px;
  color : #ffffff;
  padding : 2px 8px;
  background-color : rgba(114, 153, 193, 0.92);
}

.spaceContainer {
  height: 148px;
}

.event-list {
  margin: 0px;
}

ul {
  list-style-type: none;
  width:100%;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

li img {
  float: left;
  margin: 5px 15px 5px 5px;
  width: 30%;
}

.contentDetails {
  width:65%;
  box-sizing:border-box;
  float:left;
}

.contentDetails h3 {
  margin:0 0 10px 0;
  font-size:16px;
}

.contentDetails h4 {
  font-size:16px;
  margin:5px 0;
}


ul li {
  padding: 5px;
  overflow: auto;
  background:#eee;
  margin-bottom:5px;
  border-radius:5px;
  border:1px solid #e5e5e5;
    }

li:hover {
  background: #eee;
  cursor: pointer;
}

.event-title {
  margin-top : 13px;
  font-weight : 600;
  font-size : 13px;
  color : black;
}

.event-date {
  margin-top : 5px;
  font-weight : 500;
  color : #613761;
  margin-left : 165px;
}