body {     /* Change width and height to own preferences */
  width: 500px;
  height: 300px;
  overflow-x: hidden;
}

.container {
  position: relative;
}

.imageContainer {
  position: absolute;
  left: 0px;
  width: 200px;
  background-image:
}

.imageContainer img {
  display: inline-block;
  margin-left : 12px;
  max-height: 100%;
  max-width: 100%;
}

.heading {
  position: relative;
  top: 90px;
  margin-left: 180px;
  left: 45px;
}

.heading h2 {
  font-size: 25px;
}

.searchContainer {
  position: relative;
  top : 105px;
  margin-left: 180px;
}