<!doctype html>
<html lang="en-us" ng-app="myApp">
<head>
<meta charset="utf-8">
<!-- Scripts -->
<script src="../js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/app.js"></script>

<!-- CSS -->
<link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500' rel='stylesheet' type='text/css'>
<link href="../../css/custom.css" rel="stylesheet" media="screen">

</head>

<body>

<div id="container" ng-controller="mainController">

  <div class="imageContainer">
    <img class="logo" src="../../icons/eventman.png">
  </div>

  <div class="heading">
    <img src="../../icons/eventbrite-text.png">
  </div>

  <div class="searchContainer">
    <form ng-submit="fetchData()" >

      <input id="location" type="text" size="30" ng-model="newAddress" placeholder="Enter your address here..." autocomplete="off">
      <br>
      <br>
        <label class="within">Within : </label>
          <select ng-options="option.id for option in distance.options track by option.id" ng-model="distance.selectedOption" class="form-control">
          </select>
        <label class="weekend-only">
          <input type="checkbox" name="weekend-only" ng-model="checkboxData.weekendOnly">Weekend </label>
        <label class="popular-only">
          <input type="checkbox" name="popular" ng-model="checkboxData.popularOnly">Popular </label>
  {{checkboxData}}
      <div class="submitButton">
        <input type="submit" name="btn" class="btn-style" value="search"/>
      </div>

    </form>
  </div>

  <div class="spaceContainer">
  </div>

  <div ng-repeat="event in eventData" class="event-list">
    <ul>
      <li>
      <a href="{{event.url}}" target="_blank" style="text-decoration: none;">
      <img src="{{event.logo.url || backUpImage}}">
        <div class="event-title"> {{event.title}}</div>
          <div class="event-date"> {{event.startDate}}</div>
         </a>
      </li>
    </ul>
  </div>

</div>

</body>
</html>