<!doctype html>
<html lang="en-us" ng-app="myApp">
<head>
<meta charset="utf-8">
<!-- Scripts -->
<script src="../js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/app.js"></script>

<!-- CSS -->
<link href="../../css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

<div id="container" ng-controller="mainController">

  <div class="imageContainer">
    <img class="logo" src="../../icons/eventman.png">
  </div>

  <div class="heading">
    <h2>Eventbrite</h2>
  </div>

  <div class="searchContainer">
    <h3>Discover Cool Events around You</h3>
    <form ng-submit="fetchData()" >

      <input id="location" type="text" ng-model="newAddress" placeholder="Enter Location" autocomplete="off">

      <div class="form-group">
        <label>Within :</label>
        <div class="col-xs-2 select-list">
          <select ng-options="option.id for option in distance.options track by option.id" ng-model="distance.selectedOption" class="form-control">
          </select>
        </div>
      </div>

      <div class="buttonGroup">
        <label class="radio-inline">
          <input type="radio" name="next-weekend" id="inlineRadio1" value="option1">
          Next Weekend </label>
        <label class="radio-inline">
          <input type="radio" name="popular" id="inlineRadio2" value="option2">
          Popular </label>
      </div>
      <input type="submit" id="submit" value="Go">

    </form>
  </div>


  <div ng-repeat="event in eventData" class="events">
    <!--  categoryid: event.category_id,
              logo: event.logo,
              title : event.name.text,
              startDate : event.start.local,
              endDate : event.end.local,
              url : event.url -->
    <ul>
      <li> <a href="{{event.url}}" target="_blank">
      <img src="{{event.logo.url || backUpImage}}">
        <div class="`">
            <h3>{{event.title}}</h3>
            <h4>{{event.startDate}}</h4>
            <h4>{{event.endDate}}</h4>
        </div>
         </a> </li>
    </ul>
  </div>

</div>

</body>
</html>